body {
    text-align: center;
}
.quadrado {
    text-align: center;
    width: 45px;
    background: #eee;
    display: inline-block;
    padding: 35px;
    font-size: 55px;
    margin: 4px;
    cursor: pointer;
    color: #eee;
    border-radius: 25px;
    font-family:Arial;
    font-weight:bold;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
    border-radius: 25px;
}